<div class="page-header">
  <h1>
    My Liked Photos
  </h1>
</div>
<% @liked_photos.each do |photo| %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= photo.user.username %>: <%= time_ago_in_words(photo.updated_at) %> ago
      </div>
      <div class="panel-body">
        <img class="img-responsive" src="<%= photo.image %>">
        <p><%= photo.caption %></p>
        <ul class="list-group">
          <% photo.comments.each do |comment| %>
          <li class="list-group-item"><%= comment.user.username %>: <%= comment.body %></li>
          <% end %>
        </ul>

            <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          <% if current_user.id == photo.user_id %>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
          <% else %>
          <% end %>



            </div>
    </div>

  </div>
</div>
<% end %>
